<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>beyni</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/da1a2ce390.js" crossorigin="anonymous"></script>
  </head>
  <body>
<!--  nav-->
        {% include "nav.html" %}
<!--        <h1 class="text-center">{{company_name}}</h1>-->

           <img class="shadow-sm" src="http://127.0.0.1:5000/static/img.jpg " width="100%" height="400px">


        <h1 class="text-center mt-2 mb-4">beyni Carrers</h1>
          <div class="row">
            <div class="container text-center border-bottom border-primary border-2 pb-2 shadow-sm col-6">
              <p class="text-wrap fs-4 mt-5"> <b>b</b>eyni is an online job providing platform that connects employers with qualified candidates. The platform offers a variety of features to help employers find the best possible candidates, including a job board, resume database, and interview scheduling tool. Beyni also provides a number of resources to help candidates prepare for their job search, such as interview tips and resume writing advice.</p>
            </div>
            <div class="col-6" >
              <img class="shadow-sm border-bottom border-primary border-2 pb-2  " src="http://127.0.0.1:5000/static/emp.jpg" width="100%" height="500px">
            </div>
          </div>
        <h2 class="text-center mt-5">Job Openings</h2>

        <div>
          {% for x in jobs %}
              {% include "jobs.html" %}
          {% endfor %}
        </div>




<!--footer-->
       <footer class="text-center text-white mt-3" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3 mt-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">beyni.com</a>
  </div>
  <!-- Copyright -->
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>